# Check wrangling, not all terms have names, drop colums, merge thrusday together with rest of the week

### This notebook is a preperation for details price/mention analysis

In this notebook I will create a mastertable of all daily frequencies and the polarity per stock ticker.
I do this in preperation for ananylis regarding the prices, which will happen in a separate notebook, since it requires a different virtual enviorenment.

In [43]:
import pandas as pd
import numpy as np

In [44]:
# define columns that can get dropped every time
unneeded_columns = ['Last Sale', 'Net Change', '% Change', 'Market Cap', 'Country', 'IPO Year', 'Volume', 'Industry']

In [45]:
# import and create table for monday
df_monday = pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/10_05/frequency_of_tickers_10_05_23.csv')
df_monday= df_monday.rename(columns={"frequency": "frequency10_05"})
df_monday = df_monday.drop(unneeded_columns, axis=1)
df_monday

,Term,frequency10_05,Company_Name,Sector
0,NEW,78,Puxin Limited American Depositary Shares each ...,Miscellaneous
1,TECH,49,Bio-Techne Corp Common Stock,Health Care
2,PLTR,134,Palantir Technologies Inc. Class A Common Stock,Technology
3,PLAY,40,Dave & Buster's Entertainment Inc. Common Stock,Consumer Services
4,LOVE,19,The Lovesac Company Common Stock,NaN
...,...,...,...,...
117,MSFT,9,Microsoft Corporation Common Stock,Technology
118,TDOC,4,Teladoc Health Inc. Common Stock,Health Care
119,TELL,19,Tellurian Inc. Common Stock,Energy
120,EAT,4,Brinker International Inc. Common Stock,Consumer Services
121,RIDE,5,Lordstown Motors Corp. Class A Common Stock,Capital Goods

In [46]:
# import and create table for tuesday
df_freq_tuesday = pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/11_05/frequency_of_tickers_11_05_21.csv')
df_sent_tuesday = pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/11_05/sentiment_of_tickers_11_05_21.csv')
df_tuesday= df_freq_tuesday.merge(df_sent_tuesday,on='Term')
df_tuesday= df_tuesday.rename(columns={"frequency": "frequency11_05", "Polarity": 'polarity11_05'})
df_tuesday = df_tuesday.drop(unneeded_columns, axis=1)
df_tuesday

,Term,frequency11_05,Company_Name,Sector,polarity11_05
0,DD,196.0,DuPont de Nemours Inc. Common Stock,Capital Goods,0.049870
1,ONE,460.0,OneSmart International Education Group Limited...,Miscellaneous,-0.033333
2,AM,297.0,Antero Midstream Corporation Common Stock,Public Utilities,-0.080556
3,REAL,93.0,The RealReal Inc. Common Stock,Consumer Services,-0.092500
4,MIND,38.0,MIND Technology Inc. Common Stock (DE),Capital Goods,0.000000
...,...,...,...,...,...
130,OXY,4.0,Occidental Petroleum Corporation Common Stock,Energy,0.000000
131,ACCD,1.0,Accolade Inc. Common Stock,NaN,0.091886
132,CNC,1.0,Centene Corporation Common Stock,Health Care,0.000000
133,NCLH,1.0,Norwegian Cruise Line Holdings Ltd. Ordinary S...,Transportation,0.000000
134,MSM,2.0,MSC Industrial Direct Company Inc. Common Stock,Capital Goods,0.000000

In [47]:
# import and create table for wednesday
df_freq_wednesday = pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/12_05/frequency_of_tickers_12_05_22.csv')
df_sent_wednesday= pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/12_05/sentiment_of_tickers_12_05_22.csv')
df_wednesday= df_freq_wednesday.merge(df_sent_wednesday,on='Term')
df_wednesday= df_wednesday.rename(columns={"frequency": "frequency12_05", "Polarity": 'polarity12_05'})
df_wednesday = df_wednesday.drop(unneeded_columns, axis=1)
df_wednesday

,Term,frequency12_05,Company_Name,Sector,polarity12_05
0,DD,642,DuPont de Nemours Inc. Common Stock,Capital Goods,0.669226
1,GME,1008,GameStop Corporation Common Stock,Consumer Services,0.337254
2,SP,105,SP Plus Corporation Common Stock,Miscellaneous,0.893200
3,ONE,1413,OneSmart International Education Group Limited...,Miscellaneous,-0.167275
4,K,750,Kellogg Company Common Stock,Consumer Non-Durables,0.965900
...,...,...,...,...,...
211,DB,3,Deutsche Bank AG Common Stock,Finance,0.990200
212,JD,3,JD.com Inc. American Depositary Shares,Miscellaneous,0.998800
213,FLEX,3,Flex Ltd. Ordinary Shares,Technology,-0.318400
214,CBOE,12,Cboe Global Markets Inc. Common Stock,NaN,0.974800
215,MSM,6,MSC Industrial Direct Company Inc. Common Stock,Capital Goods,0.998200

In [48]:
# merge tables together step by step
# monday and tuesday
week = pd.merge(df_monday, df_tuesday, on='Term', how='outer')
# the week with wednesday
week = pd.merge(week, df_wednesday, on='Term', how='outer')

In [49]:
# convert column
week['Company_Name_x'] = week['Company_Name_x'].astype(str)

In [58]:
# getting all company names into a single columns
for i, b in week.iterrows():
    if b[2] != 'nan':
        print(i,b[2], b[5])
        week.at[i,'Company_Name_x']=b[5]

0 nan nan
1 Bio-Techne Corp Common Stock -0.3125
2 Palantir Technologies Inc. Class A Common Stock 0.0251668645339208
3 nan nan
4 The Lovesac Company Common Stock 0.1666666666666666
5 nan nan
6 nan nan
7 nan nan
8 nan nan
9 nan nan
10 nan nan
11 nan nan
12 nan nan
13 nan nan
14 Antero Midstream Corporation Common Stock -0.0805555555555555
15 nan nan
16 nan nan
17 nan nan
18 nan nan
19 Gladstone Investment Corporation Business Development Company 0.0
20 nan nan
21 nan nan
22 nan nan
23 Macy's Inc Common Stock 0.0
24 aTyr Pharma Inc. Common Stock 0.0
25 nan nan
26 OneSmart International Education Group Limited ADS -0.0333333333333333
27 Sphere 3D Corp. Common Shares -0.1
28 Welltower Inc. Common Stock 0.1854200653298591
29 Tesla Inc. Common Stock -0.0951006073871927
30 nan nan
31 nan nan
32 nan nan
33 nan nan
34 nan nan
35 Advanced Micro Devices Inc. Common Stock -0.0236113146113146
36 SP Plus Corporation Common Stock 0.2222222222222222
37 Electro-Sensors Inc. Common Stock -0.3523437499999999
38 nan nan
39 Clover Health Investments Corp. Class A Common Stock 0.0483302304728104
40 Athene Holding Ltd. Class A Common Shares 0.0
41 iQIYI Inc. American Depositary Shares 0.0
42 Sealed Air Corporation Common Stock 0.0
43 The RealReal Inc. Common Stock -0.0925
44 nan nan
45 nan nan
46 nan nan
47 nan nan
48 Apple Inc. Common Stock 0.0187802504208754
49 nan nan
50 nan nan
51 nan nan
52 UWM Holdings Corporation Class A Common Stock 0.0676602401885211
53 nan nan
54 Peloton Interactive Inc. Class A Common Stock 0.0
55 nan nan
56 MIND Technology Inc. Common Stock (DE) 0.0
57 nan nan
58 nan nan
59 Pool Corporation Common Stock -0.0031609195402298
60 180 Degree Capital Corp. Common Stock -0.1210714285714285
61 nan nan
62 nan nan
63 Ryder System Inc. Common Stock 0.0
64 nan nan
65 nan nan
66 Rocket Companies Inc. Class A Common Stock 0.0146691368000815
67 nan nan
68 nan nan
69 GameStop Corporation Common Stock 0.0205931135646282
70 nan nan
71 nan nan
72 DuPont de Nemours Inc. Common Stock 0.0498698639183222
73 BlackBerry Limited Common Stock -2.9708853238265195e-05
74 Coinbase Global Inc. Class A Common Stock 0.070108024691358
75 Spirit Airlines Inc. Common Stock 0.0
76 Paysafe Limited Common Shares 0.0
77 nan nan
78 Marathon Digital Holdings Inc. Common Stock 0.0
79 nan nan
80 nan nan
81 nan nan
82 Sunrun Inc. Common Stock 0.0
83 nan nan
84 nan nan
85 nan nan
86 nan nan
87 nan nan
88 nan nan
89 nan nan
90 nan nan
91 nan nan
92 Plug Power Inc. Common Stock 0.0
93 nan nan
94 Inovio Pharmaceuticals Inc. Common Stock 0.05
95 nan nan
96 nan nan
97 MicroVision Inc. Common Stock 0.0032534910810772
98 Visa Inc. 0.0
99 Wayfair Inc. Class A Common Stock 0.0
100 nan nan
101 nan nan
102 nan nan
103 nan nan
104 Unity Software Inc. Common Stock -0.3333333333333333
105 Alibaba Group Holding Limited American Depositary Shares each representing eight Ordinary share 0.0138888888888888
106 Extended Stay America Inc. Paired Shares 0.0
107 Amazon.com Inc. Common Stock 0.0
108 NIO Inc. American depositary shares each  representing one Class A ordinary share -0.0151802444737227
109 Tilray Inc. Class 2 Common Stock  0.0
110 nan nan
111 nan nan
112 nan nan
113 nan nan
114 nan nan
115 nan nan
116 nan nan
117 Microsoft Corporation Common Stock 0.0239280531090875
118 nan nan
119 nan nan
120 nan nan
121 nan nan

In [51]:
# getting all sector names into a single columns
for i, b in week.iterrows():
    if b[3] == "nan":
       # print(i,b[3], b[6])
        week.at[i,'Sector_x']=b[6]

In [52]:
week = week.drop(['Company_Name_y', 'Sector_y','Company_Name','Sector'],axis=1)

In [53]:
#week.to_csv('weekly_frequencies.csv', index=False)

In [54]:
# importing wednesday data and adding thursday
df_freq_thursday = pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/13_05/frequency_of_tickers_13_05_22.csv')
df_sent_thursday= pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/13_05/sentiment_of_tickers_13_05_22.csv')
df_thursday= df_freq_thursday.merge(df_sent_thursday,on='Term')
df_thursday= df_thursday.rename(columns={"frequency": "frequency13_05", "Polarity": 'polarity13_05'})
#df_thursday = df_thursday.drop(unneeded_columns, axis=1)
df_thursday

,Term,frequency13_05,Company_Name,Sector,polarity13_05
0,DD,603,DuPont de Nemours Inc. Common Stock,Capital Goods,0.655154
1,AMC,333,AMC Entertainment Holdings Inc. Class A Common...,Consumer Services,0.445757
2,NEW,870,Puxin Limited American Depositary Shares each ...,Miscellaneous,0.968800
3,GME,981,GameStop Corporation Common Stock,Consumer Services,0.308145
4,AM,879,Antero Midstream Corporation Common Stock,Public Utilities,0.689977
...,...,...,...,...,...
214,PCT,6,PureCycle Technologies Inc. Common stock,Public Utilities,-0.862100
215,DNMR,3,Danimer Scientific Inc. Common Stock,Consumer Non-Durables,-0.862100
216,FLEX,3,Flex Ltd. Ordinary Shares,Technology,-0.318400
217,CBOE,12,Cboe Global Markets Inc. Common Stock,NaN,0.974800
218,MSM,6,MSC Industrial Direct Company Inc. Common Stock,Capital Goods,0.998200

In [55]:
#week = pd.read_csv('/Users/ohmat/Documents/Project/scrapingreddit/weekly_frequencies.csv')

In [56]:
week

,Term,frequency10_05,Company_Name_x,Sector_x,frequency11_05,polarity11_05,frequency12_05,polarity12_05
0,NEW,78.0,NaN,Miscellaneous,NaN,NaN,900.0,0.916900
1,TECH,49.0,Bio-Techne Corp Common Stock,Health Care,108.0,-0.312500,255.0,0.974800
2,PLTR,134.0,Palantir Technologies Inc. Class A Common Stock,Technology,270.0,0.025167,402.0,0.346069
3,PLAY,40.0,NaN,Consumer Services,NaN,NaN,NaN,NaN
4,LOVE,19.0,The Lovesac Company Common Stock,NaN,67.0,0.166667,174.0,0.994200
...,...,...,...,...,...,...,...,...
316,HIBB,NaN,nan,NaN,NaN,NaN,6.0,0.995700
317,BGS,NaN,nan,NaN,NaN,NaN,24.0,0.953800
318,DB,NaN,nan,NaN,NaN,NaN,3.0,0.990200
319,FLEX,NaN,nan,NaN,NaN,NaN,3.0,-0.318400
320,CBOE,NaN,nan,NaN,NaN,NaN,12.0,0.974800

In [42]:
week = pd.merge(week, df_thursday, on='Term', how='outer')
week = week.drop('Company_Name_y', 'Sector_y', )

,Term,frequency10_05,Company_Name_x,Sector_x,frequency11_05,polarity11_05,frequency12_05,polarity12_05,frequency13_05_x,Company_Name_x,Sector_x,polarity13_05_x,frequency13_05_y,Company_Name_y,Sector_y,polarity13_05_y
332,CARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,CarGurus Inc. Class A Common Stock,NaN,0.4836,6.0,CarGurus Inc. Class A Common Stock,NaN,0.4836
333,FICO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,Fair Isaac Corproation Common Stock,Technology,-0.6444,6.0,Fair Isaac Corproation Common Stock,Technology,-0.6444
334,CCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,Century Communities Inc. Common Stock,Capital Goods,0.9815,33.0,Century Communities Inc. Common Stock,Capital Goods,0.9815
335,ASR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,Grupo Aeroportuario del Sureste S.A. de C.V. C...,Transportation,0.9943,12.0,Grupo Aeroportuario del Sureste S.A. de C.V. C...,Transportation,0.9943
336,ARRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,Array Technologies Inc. Common Stock,Technology,0.9582,12.0,Array Technologies Inc. Common Stock,Technology,0.9582